<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="ConnectionString"
         value="Server=DTGQN1VDSQL0006.infosolco.com; Database = ICLEAR_CENTRALDB ;user id =tmp_test; password=PleaseConnect;" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>